<h2>Add a new business here</h2>

<form>
{{input value = name id = 'name' placeholder = "Business Name"}}
{{input value = image id = 'image' placeholder = "Image/Logo"}}
{{input value = description id = 'description' placeholder = "Business Description"}}
<button class = "btn btn-info"{{action  'savebiz'}}>Add a biz to the list</button>
  </form>

How many favorites you got?:  {{favoriteCount}}
Favorite List: {{favoriteList}}
