<h2>Add a new business here</h2>

<form>
{{input value = name id = 'name'}}
{{input value = image id = 'image'}}
{{input value = description id = 'description'}}
<button {{action  'savebiz'}}>Add a biz to the list</button>
  </form>

How many favorites you got?:  {{favoriteCount}}
