{{#each sortedBusinesses as |business|}}
<div class = "biztile">
{{biz-tile model=business}}
<button class = "btn btn-danger" {{action "deletebiz" business}}>Delete</button>
{{new-review business=business saveRating='saveRating'}}
Reviews: {{business.ratings.length}}{{review-time business}}

<button class = "btn btn-success"{{action 'addToFavs' business}}>Add To Favs</button>
</div>

{{/each}}
