<div class = "biztile">
<h3>{{model.name}}</h3>
<hr />
<img src="{{model.image}}" height = "100" width = "100">
<p>{{model.description}}</p>
{{new-review business=model saveRating='saveRating'}}
Number of reviews = {{model.ratings.length}}
<hr />
{{#each model.ratings as |rating|}}
<p>{{rating.stars}}{{star-number rating.stars}}</p>
Date: {{rating.date}}
<hr />
{{/each}}
</div>
